<div class="container-fluid">
    <div class="row">
      <div class="col-0 col-md-1 col-lg-2"></div>
      <div class="col-12 col-md-10 col-lg-8">
        <form *ngIf="!introducido" (ngSubmit)="loginUser(loginUserForm.value)" [formGroup]="loginUserForm">
          <input type="hidden" formControlName="id">
        
          <img id="userdefault" class="img-fluid" src="{{ imagen }}" default="../../../../assets/imagenes/createuser/userdefault.png">
          
          <input class="form-control" type="text" formControlName="username" placeholder="Nombre de usuario">
          <input class="form-control" type="password" formControlName="password" placeholder="Contraseña">
          <input type="submit" class="btn btn-outline-primary" [disabled]="!loginUserForm.valid" value="Iniciar sesión"> 
  

          <div *ngIf="loaded === true">
            <div *ngFor="let user of users">
              - {{ user.data.username }}-
            </div>
          </div>
          <div *ngIf="loaded === false">
            h
          </div>
        </form>
  
        <!-- <div *ngIf="introducido === true">
          Usuario logeado con éxito
        </div>
  
        <div *ngIf="introducido === false">
          Contraseña incorrecta
        </div> -->
  
      </div>
      <div class="col-0 col-md-1 col-lg-2"></div>
    </div>
  </div>