<div class="container-fluid">
    <div class="row">
      <!-- <div class="col-0 col-md-1 col-lg-2"></div> -->
      <div class="col-12">
        <form *ngIf="!introducido" (ngSubmit)="loginUser(loginUserForm.value)" [formGroup]="loginUserForm">
          <input type="hidden" formControlName="id">
        
          <!-- <img id="userdefault" class="img-fluid" src="{{ imagen }}" default="../../../../assets/imagenes/createuser/userdefault.png"> -->
          
          <input class="form-control-lg" type="text" formControlName="username" placeholder="Nombre de usuario">
          <input class="form-control-lg" type="password" formControlName="password" placeholder="Contraseña">

          <input id="iniciarbutton" type="submit" class="btn" [disabled]="!loginUserForm.valid" value=""> 

          <div *ngIf="loaded === true && goodlogin === true" class="goodlogin">
            <div *ngFor="let user of users">
              <img class="mano" src="../../../../assets/imagenes/login/manoarriba.png">
              <!-- <p class="pacierto"></p> -->
            </div>
          </div>

          <div *ngIf="loaded === true && goodlogin === false" class="badlogin">
            <img class="mano" src="../../../../assets/imagenes/login/manoabajo.png">
            <!-- <p class="pfallo"></p> -->
          </div>

          <div *ngIf="loaded === false" class="loading">
            <img class="cargando" src="../../../../assets/imagenes/login/cargando.png">
            <!-- <p class="pcargando"></p> -->
          </div>
        </form>
  
        <!-- <div *ngIf="introducido === true">
          Usuario logeado con éxito
        </div>
  
        <div *ngIf="introducido === false">
          Contraseña incorrecta
        </div> -->
  
      </div>
      <!-- <div class="col-0 col-md-1 col-lg-2"></div> -->
    </div>
  </div>