
<div id="chatdiv" class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-chat></app-chat>
    </div>
  </div>
</div>

<div id="ojodiv" class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-search></app-search>
    </div>
  </div>
</div>

<div id="userdiv" class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-profile></app-profile>
    </div>
  </div>
</div>

<div class="navbarme container-fluid">
  <div class="row">
    <div class="col-4">
      <a class="nav-link" (click)="openchat()">
        <img class="chat-icon"  src="../../../assets/imagenes/home/chat-icon.png">
      </a>
    </div>
    <div class="col-4">
      <a class="nav-link" (click)="openuser()">
        <img class="user" src="../../../assets/imagenes/home/user.png">
      </a>
    </div>
    <div class="col-4">
      <a class="nav-link" (click)="openojo()">
        <img class="ojo" src="../../../assets/imagenes/home/ojo.png">
      </a>
    </div>
  </div>
</div>

