<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Stormi</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <img class="chat-icon" src="../../../assets/imagenes/home/chat-icon.png">
                <img class="ojo" src="../../../assets/imagenes/home/ojo.png">
                <img class="user" src="../../../assets/imagenes/home/user.png">
            </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->


<div id="chatdiv" class="container-fluid">
  <div class="row">
    <div class="col-12">
      chat
    </div>
  </div>
</div>

<div id="ojodiv" class="container-fluid">
  <div class="row">
    <div class="col-12">
      ojo
    </div>
  </div>
</div>

<div id="userdiv" class="container-fluid">
  <div class="row">
    <div class="col-12">
      user
    </div>
  </div>
</div>

<div class="navbarme container-fluid">
  <div class="row">
    <div class="col-4">
      <a class="nav-link" (click)="openchat()">
        <img class="chat-icon"  src="../../../assets/imagenes/home/chat-icon.png">
      </a>
    </div>
    <div class="col-4">
      <a class="nav-link" (click)="openuser()">
        <img class="user" src="../../../assets/imagenes/home/user.png">
      </a>
    </div>
    <div class="col-4">
      <a class="nav-link" (click)="openojo()">
        <img class="ojo" src="../../../assets/imagenes/home/ojo.png">
      </a>
    </div>
  </div>
</div>

