.body{
    height: 100vh;
    .imagenconfondo{
        width: 100%;
        .imagenperfil{
            display: block;

            max-height:300px;
            width: auto;

            margin: 0 auto;

            border-radius: 10px;
        }
    }
    .nombre{
        position: relative;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}

.nubeconlluvia{
    .nube{
        display: block;
        margin: 0 auto;
        margin-top: -80px;
        /* margin: 0 auto; */
        width: 50%;
        height: auto;
    }
    .lluvia{
        display: block;
        margin: 0 auto;
        margin-top: -100px;
        /* margin: 0 auto; */
        width: 50%;
        height: auto;
    }
}

h1.title{
    text-align: center;
    font-size: 4em;
}

nav.navbar{
    .chat-icon{
        max-height: 70px;
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .ojo{
        max-height: 60px;
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .user{
        max-height: 60px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
}
