<!-- <div class="grd">
  <div class="grd-row">
    <div class="grd-row-col-2">
      <h1>🐱 Gatos 🐱</h1>
      <form (ngSubmit)="newUser(newUserForm.value)" [formGroup]="newUserForm">
        <input type="hidden" formControlName="id">

        <label for="username">Nombre</label>
        <input type="text" formControlName="username">

        <label for="password">Contraseña</label>
        <input type="password" formControlName="password">

        <label for="imagen">Imagen</label>
        <input type="imagen" formControlName="imagen">



        <input type="submit" class="btn--blue btn--add" [disabled]="!newUserForm.valid" value="Agregar">
      </form>
    </div>
    <div class="grd-row-col-4">
      <div class="cats_container">
        <div class="media" *ngFor="let user of users">
          <div class="media-figure">
            <img height="50px" width="auto" [src]="user.data.imagen">
          </div>
          <div class="media-body">
            <p>{{user.data.username}}</p>
            <p>{{user.data.password}}</p>
            <div class="btn--group">
              <button class="btn--green btn--s btn1">Editar</button>
              <button class="btn--red btn--s btn2">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-0 col-md-1 col-lg-2"></div>
    <div class="col-12 col-md-10 col-lg-8">
      <form *ngIf="!introducido" (ngSubmit)="newUser(newUserForm.value)" [formGroup]="newUserForm">
        <input type="hidden" formControlName="id">
        <img id="userdefault" class="img" src="{{ imagen }}">
        
        <input class="form-control" type="text" formControlName="username" placeholder="Nombre de usuario">
        <input class="form-control" type="text" formControlName="mail" placeholder="E-mail">
        <input class="form-control" type="password" formControlName="password" placeholder="Contraseña">
        <input id="imagen" class="form-control" type="text" formControlName="imagen" placeholder="Imagen de perfil (URL)" (keyup)="onKeyup($event)">
        
        <!-- <input class="form-control" type="text" formControlName="estilofondo" placeholder="Imagen de perfil (URL)"> -->
        <!-- <input class="form-control" type="text" formControlName="colortexto" placeholder="Imagen de perfil (URL)">
        <input class="form-control" type="text" formControlName="colorfondo" placeholder="Imagen de perfil (URL)"> -->

        <!-- <div class="form-check">
          <label class="form-check-label" for="estilofondo">
            Estilo de fondo
          </label>
          <input class="form-check-input" type="radio" name="exampleRadios" id="estilofondo" value="1" checked>
        </div> -->

        <input type="submit" class="btn btn-outline-success" [disabled]="!newUserForm.valid" value="Registrarse">
      </form>

      <div *ngIf="introducido === true">
        Usuario insertado con éxito
      </div>

      <div *ngIf="introducido === false">
        Usuario insertado con éxito
      </div>

    </div>
    <div class="col-0 col-md-1 col-lg-2"></div>
  </div>
</div>