h1{
    display: block;
    margin: 0 auto;

    text-align: center;

    margin-bottom: 30px;
    margin-top: 30px;
}

.containtable{
    overflow: auto;
    max-width: 100%;
}

table{
    td{
        vertical-align: middle;
        p{
            font-size: 1.6em;
        }
    }
    td.imgprof{
        width: 120px;
    }
    img{
        height: 100px;
        width: auto;
    }
}

