.body{
    .imagenconfondo{
        width: 100%;
        .imagenperfil{
            display: block;

            max-height:300px;
            width: auto;

            margin: 0 auto;

            border-radius: 10px;
        }
    }
    .nombre{
        position: relative;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}