<div class="container body">
    <div class="row-fluid">
        <div class="col-12">
            <div class="imagenconfondo" *ngFor="let user of users">
                <div class="nombre">
                    <h1>
                    {{ user.data.username }}
                    </h1>
                </div>
                <img class="img-responsive imagenperfil" *ngIf="user.data.imagen" src="{{user.data.imagen}}"/>
                <img class="img-responsive imagenperfil" *ngIf="!user.data.imagen" src="../../../../assets/imagenes/createuser/userdefault.png"/>
            </div>
        </div>
    </div>
</div>
