.divnube{
    #nube{
        display: block;
 
        opacity: 0;
        transition: ease-in-out 0.5s;

        max-width: 100%;
        max-height: 400px;

        margin: 0 auto;
        margin-top: 50vh;
    }
}

#registro{
    // margin-top: 80px !important;
    
    opacity: 0;
    transition: ease-in 0.5s;

    margin: 0 auto;

    padding-left: 10px;
    padding-right: 10px;

    
}