<div class="container-fluid contenedor">
    <div class="row">

        <div id="colleft" class="col-8 colleft">
                <div class="userdiv" *ngFor="let user of usersDMs11">
                    <div (click)="envioID(user.id, user.id)" id="{{ user.id }}" class="username noseleccionado">
                        <!-- <p>{{ user.id }}</p> -->
                        <p *ngIf="user.data.username === myusername">{{ user.data.myusername }}</p>
                        <p *ngIf="user.data.myusername === myusername">{{ user.data.username }}</p>
                    </div>
                </div>
                <div class="userdiv" *ngFor="let user of usersDMs22">
                    <div (click)="envioID(user.id, user.id)" id="{{ user.id }}" class="username noseleccionado">
                        <!-- <p>{{ user.id }}</p> -->
                        <p *ngIf="user.data.username === myusername">{{ user.data.myusername }}</p>
                        <p *ngIf="user.data.myusername === myusername">{{ user.data.username }}</p>
                    </div>
                </div>
        </div>

        <div id="colright" class="col-4 colright">
            <div id="tablachat" #scrollMe>
                <div id="outchat">
                    <div id="chat" class="chat" *ngFor="let mensaje of mensajesall">
                        <!-- <td *ngIf="mensaje.data.username === myusername" class="mymessage">{{ mensaje.data.username }}</td> -->
                        <div *ngIf="
                        mensaje.data.username === myusername
                        && mensaje.data.mensaje
                        " class="mymessage">{{ mensaje.data.mensaje }}</div>

                        <!-- <td *ngIf="mensaje.data.username !== myusername" class="hismessage">{{ mensaje.data.username }}</td> -->
                        <div *ngIf="
                        mensaje.data.username !== myusername
                        && mensaje.data.mensaje
                        " class="hismessage">{{ mensaje.data.mensaje }}</div>

                        <div *ngIf="!mensaje.data" class="nomensajeind">
                            Sin mensajes
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="mensajeform" (ngSubmit)="newMsg(newMsgForm.value)" [formGroup]="newMsgForm">
            <input class="form-control" type="text" formControlName="mensaje"
                placeholder="Escribe aqui tu mensaje">
            <input id="registrarse" type="submit" class="btn" value="">
        </form>
    </div>