<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Logeado como: {{ myusername }}</a>
</nav>
  
<div class="container">
    <div class="row">
        <div class="col-4">
            <table class="table table-dark">
                <tr *ngFor="let user of usersDMs11">
                    <td (click)="envioID(user.id)">
                        <p>Por myusername</p>
                    </td>
                    <td (click)="envioID(user.id)" class="username">
                        <p *ngIf="user.data.username === myusername">{{ user.data.myusername }}</p>
                        <p *ngIf="user.data.myusername === myusername">{{ user.data.username }}</p>
                    </td>
                </tr> 
                <tr *ngFor="let user of usersDMs22">
                    <td (click)="envioID(user.id)">
                        <p>Por username</p>
                    </td>
                    <td (click)="envioID(user.id)" class="username">
                        <p *ngIf="user.data.username === myusername">{{ user.data.myusername }}</p>
                        <p *ngIf="user.data.myusername === myusername">{{ user.data.username }}</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-8">
            <table class="table">
                <tr>
                    <td>usuario</td>
                    <td>mensaje</td>
                </tr>
            </table>

            

        </div>
    </div>
</div>

